In [2]:
# Import pandas
import pandas as pd
# read the csv file into the dataframe
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [7]:
# print a few lines of the dataframe
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [6]:
# check information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [4]:
# Select columns 'Y2017' and 'Area'
selected_columns = df[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum for each group in 2017
sum_by_area = selected_columns.groupby('Area')['Y2017'].sum()

# Find the Area with the highest sum in 2017
area_with_highest_sum = sum_by_area.idxmax()

print( area_with_highest_sum)

Nigeria

In [11]:
# What is the total Protein supply quantity in Madagascar in 2015?
# Filter the dataset for Madagascar and 'Element' values
madagascar_protein_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]

# Extract the value for the year 2015 (column 'Y2015')
protein_supply_2015 = madagascar_protein_2015['Y2015']

# Calculate the total protein supply quantity in Madagascar in 2015
total_protein_supply_2015 = protein_supply_2015.sum()

# Print the result
print( total_protein_supply_2015)

173.04999999999998

In [12]:
What is the total sum of Wine produced in 2015 and 2018 respectively?
# Filter the dataset for 'Wine' in the 'Item' column
wine_production = df[df['Item'] == 'Wine']

# Extract the values for the years 2015 and 2018 (columns 'Y2015' and 'Y2018')
wine_production_2015 = wine_production['Y2015']
wine_production_2018 = wine_production['Y2018']

# Calculate the total sum of Wine produced in 2015 and 2018
total_wine_production_2015 = wine_production_2015.sum()
total_wine_production_2018 = wine_production_2018.sum()

# Print the results
print( total_wine_production_2015)
print( total_wine_production_2018)

Object `respectively` not found.
4251.8099999999995
4039.3199999999997

In [13]:
grouped = df.groupby('Element')['Stock_Variation'].sum()

# Find the year with the highest sum of Stock Variation
year_with_highest_variation = grouped.idxmax()

# Print the result
print( year_with_highest_variation)

KeyError: ignored

In [15]:
processing_2017 = df[df['Element'] == 'Processing']['Y2017']

# Calculate the total sum of 'Processing' in 2017
total_processing_2017 = processing_2017.sum()

# Print the total processing
print( total_processing_2017)

292836.0

In [17]:
#What is the total number of unique countries in the dataset
total_unique_countries = df['Area'].nunique()
print( total_unique_countries)

49

In [20]:
# Select the columns for the year 2014
columns_2014 = ['Y2014']

# Filter the DataFrame for the year 2014
data_2014 = df[columns_2014]

# Count the number of missing data (NaN values) in the year 2014
total_missing_data_2014 = data_2014.isna().sum().sum()

# Calculate the total number of data points in the year 2014
total_data_points_2014 = data_2014.size

# Calculate the percentage of missing data in the year 2014
percentage_missing_data_2014 = (total_missing_data_2014 / total_data_points_2014) * 100

# Print the results with 3 decimal places
print(total_missing_data_2014)
print("Percentage of missing data in 2014 (to 3 decimal places): {:.3f}%".format(percentage_missing_data_2014))

1589
Percentage of missing data in 2014 (to 3 decimal places): 2.607%

In [21]:
# Select the columns for the year 2017
columns_2017 = ['Y2017']

# Filter the DataFrame for the year 2017
data_2017 = df[columns_2017]

# Calculate the mean and standard deviation for the year 2017
mean_2017 = data_2017.mean().mean()
std_deviation_2017 = data_2017.std().mean()

# Print the results rounded to 2 decimal places
print("Mean for the year 2017 (to 2 decimal places): {:.2f}".format(mean_2017))
print("Standard Deviation for the year 2017 (to 2 decimal places): {:.2f}".format(std_deviation_2017))

Mean for the year 2017 (to 2 decimal places): 140.92
Standard Deviation for the year 2017 (to 2 decimal places): 1671.86

In [22]:
# Select the columns 'Y2017' and 'Area'
data_2017_area = df[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum of 'Y2017' for each group
grouped = data_2017_area.groupby('Area')['Y2017'].sum()

# Sort the groups by sum in ascending order
sorted_groups = grouped.sort_values(ascending=True)

# Find the Area with the 7th lowest sum in 2017
seventh_lowest_sum_area = sorted_groups.index[6]
print("Area with the 7th lowest sum in 2017:", seventh_lowest_sum_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [24]:
# Which year had the least correlation with ‘Element Code’
# List of years to consider
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

# Initialize variables to track the least correlation and corresponding year
least_correlation = None
least_correlation_year = None

# Loop through each year and calculate the correlation with 'Element Code'
for year in years:
    correlation = df['Element Code'].corr(df[year])

    if least_correlation is None or abs(correlation) < abs(least_correlation):
        least_correlation = correlation
        least_correlation_year = year
print( least_correlation_year)

Y2016